<h1>About FRNSH</h1>

<p>Ever waded through low quality furnishings on one of the giant sales platforms ? Or wondered what the easiest and best way to advertise and sell a previously loved high quality piece is ? 
Or worse, both !
Well wade and wonder no more.</p>

<h3>FRNSH is a curated collection of the UK’s best pre-owned home furnishings and decor.</h3>

<p>We help you discover the pieces you will love. 
As well as sell the pieces that no longer fit.
And we take care of the shipping so you don’t have to.
</p>


