<h1>BUYERS</h1>

<h3>What is I Heart Decor ?</h3>
<p>We know how long you have spent wading through low quality furnishings on one of the giant sales platforms looking for that perfect piece, so we decided to help out by creating FRNSH.co.uk - a curated collection of the UK’s best home furnishings and decor.</p>
<br>
<h3>Where do our products come from ?</h3>
<p>We search the pre-owned market for the most stylish, unique and exceptionally high quality home furnishings. Then through FRNSH, we allow the seller to reach buyers directly which means greater value and better service all round.</p>
<br>
<h3>Who determines the pricing ?</h3>
<p>The seller decides on the price but we do encourage them to list at 25% - 60% of the original, or in the case of antiques, what they might cost now from a dealer. Given that we connect buyers and sellers directly we can offer really great value for exceptional items.</p>
<br>
<h3>How does shipping work ?</h3>
<p>We know how much of a hassle shipping can be so we have taken ownership of it for you. Once your purchase has been made we work with selected carriers who put service and customer care first.
<br>
<p>For large items we work with carefully chosen white glove shippers who set and maintain a high standard of punctuality and care. They collect, pack and deliver anywhere in the UK. </p></p>
<br>
<p>For smaller items we use the Post Office, Parcelforce or FedEx as we have found them to be most reliable.</p>
<br>
<h3>How much does shipping cost ?</h3>
<p>The cost of shipping will vary depending on the size of the item and where you would like the item delivered. We automatically calculate the best price and option for you on checkout. For smaller items it can be as little as just £10, and for larger items it averages out to less than £50. The real saving though is in the hassle free experience of having us take care of everything or you !</p>
<br>
<h3>Insurance</h3>
All shipments both large or small will be covered by repair or replacement insurance.</p>
<br>
<h3>How long will delivery take ?</h3>
<p>Our shipping priorities are to deliver your item as quickly and as carefully as we can. Delivery times will vary according to the shipping distance and the size of the item, and we of course will keep you fully informed of your shipping progress and provide tracking numbers once it is on its way.</p>
<br>
<h3>Can i collect an item i have purchased directly from the Seller ?</h3>
<p>Some Sellers are happy to allow Buyers to collect directly from them. If this applies to you and your purchase we will notify you of this option at the point of purchase.</p>
<br>
<h3>Can I cancel a purchase ?</h3>
<p>Yes you may cancel an order at any time right up until it has been shipped. Please call XXXXX or email giles@FRNSH.co.uk and we will arrange this for you.</p>
<br>
<h3>Can i return a purchase ?</h3>
<p>Yes you may. It is essential that both Buyers and Sellers are happy with their FRNSH experience and to this end we allow returns to be made up to 48 hours after delivery. 
If you would like to return your purchase within this time period please call XXXXX or email giles@FRNSH.co.uk and we will arrange this for you.</p>
<br>
<p>Please note that outward and return shipping costs will be deducted from the purchase price prior to refund.

Please also note that this returns policy does not apply to items collected directly from the Seller.</p>


