<h1>RETURNS</h1>

<p>As with our shipping, we try to take the hassle out of returns as well. Buyers are welcome to return any item they purchase within 48 hours from receiving delivery. There is no restocking fee, buyers just have to cover the cost of the return shipping.
<br>
<h3>How can i return a purchase?</h3>
<br>
Should you wish to return your purchase please contact us within 48 hours of receiving the item at returns@FRNSH.co.uk 
Please include your telephone number and the collection address in the email.
If it is a large item we will coordinate with our shippers for a convenient time to collect.
If it is a smaller item, we will send out a prepaid shipping label. Please package the item appropriately, affix the label and ship. Usually we use Parcelforce for this service.
<br>
Buyers please note: This returns policy doesn’t apply to buyers who collect the item direct from the seller. These sales are deemed final once the item has left the seller’s possession.
<br>
Sellers please note: As before please note that misrepresented or inaccurate descriptions that lead to buyers returning the item may result in shipping costs being charged to the seller.</p>
