<h1>SELLERS</h1>

<p>We are here to help you sell your high quality furnishings and decor to an audience of like-minded design lovers. With the added bonus of removing the hassles of shipping and returns. </p>

<h3>What can I list ?</h3>
<p>For an introductory period we will be specialising in:
20th century chairs 
from Sellers located in the Greater London area 
with a re-sale price of £100 or more
<br>
This will allow us to match Seller and Buyer expectations from the very start. So if you have high quality items from Eames or Ercol we can help you.</p>

<h3>How can i list it ?</h3>
<p>It is very simple...
Photograph the item you have for sale from a variety of angles e.g. profile front, sides, back, top, bottom, close up of details, close up of any damage, in a well lit area using your phone or digital camera 
Attach them to an email 
Include in the email:
a brief description of the item giving its condition, origins, history etc
label the condition of the item as either ‘as new’ / ‘good’ / ‘needs some love’
The price you would like to sell the item for. As a guide we suggest that you price at 25%-60% of the original price.
the items dimensions
the pick up address for the item
your telephone number
whether you are happy for the buyer to collect directly from you (if “yes” we will co-ordinate this directly with you)
Email the photos and this information to hello@FRNSH.co.uk  and we will do the rest.</p>

<h3>How do you curate the listings ?</h3>
<p>We want to make shopping on FRNSH simple and enjoyable for buyers by only listing the UK’s best pre-owned home furnishings and decor - stylish and unique, vintage, designer, antique and modern items, in a loved condition, offering great value. To achieve this we reserve the right to not list every item submitted to us.</p>

<h3>What does it cost to list an item ?</h3>
<p>Nothing ! It is completely free to list your item with us and you are welcome to remove the item at any time. <br>
Once an item has been sold sellers receive 80% of the listed sales price. 
And to ensure that both parties are happy with everything, we make the payment to the seller the week after the sale has been a success. A successful sale is defined as 48 hours after the item has been delivered to the buyer. 
<br>
Note: Please make your listing photos and description as accurate as possible. Misrepresented or inaccurate descriptions that lead to buyers returning the item may result in shipping costs for the seller.</p>

<h3>How does shipping work ?</h3>
<p>For large items we work with carefully chosen white glove shippers who set and maintain a high standard of punctuality and care. They collect, pack and deliver anywhere in the UK. 
Once your item has sold we will contact you within 2 business days to arrange a convenient window for collection. No need for you to pack the item as this will be done for you by our shipping partner.<br>

For smaller items we use the Post Office, Parcelforce or FedEx as we have found them to be most reliable. If your item falls into this category, once the sale is complete we will send to you a prepaid shipping label. It is the sellers responsibility to then package the item appropriately, affix the shipping label, and ship out within 3 business days.
<br>
In both cases, the sale is deemed complete once the buyer has received and been in possession of the item for 48 hours.</p>

<h3>Can a buyer cancel or return the item ?</h3>
<p>Yes a buyer may cancel an order at any time right up until it has been shipped. We will contact you immediately should this occur.
<br>
The buyer may also return an item as long as it is within 48 hours of receiving it. In this event we will again coordinate the logistics, and the buyer will be responsible for return shipping costs.
<br>
As before please note that misrepresented or inaccurate descriptions that lead to buyers returning the item may result in shipping costs being charged to the seller.
<br>

If you have any questions relating to any aspect of selling an item on FRNSH, then please don’t hesitate to email us at hello@FRNSH.co.uk </p>