<h1>SHIPPING</h2>

<p>We want to take the hassle out of shipping your item, so we will continually work to ensure the experience of buying or selling on FRNSH is an enjoyable one.
<br>
For the time being all of the current items for sale are located in and around the Greater London area but we do ship them to buyers anywhere around the UK.  This a temporary step that allows us to match seller and buyer expectations from the very start. We will be accepting sellers from the rest of the country soon.
<br>
<h3>Furniture and Large Items</h3>
We use a trusted and experienced shipping partner for larger items.
At checkout we will quote a shipping cost which will be based on the dimensions of the item and where the delivery address is.
We will arrange with the seller for a convenient time to collect and pack the item.
We will then arrange an equally convenient time with the buyer for delivery.
Our cost includes collection, packing, insurance, delivery and placement in its new home.
Delivery times will vary depending on the size of the item and the delivery address but rest assured we will keep you posted every step of the way.
<br>
<h3>Smaller Items</h3>
For smaller items that don’t require a full shipping service we select a fast and reliable delivery service such as FedEx, DHL and the Post Office.
Once the sale has been made, we send the seller a pre-paid shipping label. The seller is then responsible for packaging the item safely and shipping the item off within 3 working days. 
<br>
<h3>Buyer Collection Option</h3>
In addition to the above options, a seller may approve for the buyer to collect the item directly. If this is the chosen method, there will be an option to notify us of this on checkout and we will then be in touch to organise the logistics.</p>
