
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		   <li>Copyright FRNSH 2014</li>
           <li><%= link_to "Shipping", pages_shipping_path %></li>
           <li><%= link_to "Returns", pages_returns_path %></li>
           <li><%= link_to "Buyers", pages_buyers_path %></li>
           <li><%= link_to "Sellers", pages_sellers_path %></li>
      </ul>
  </div>